---
layout: layouts/_base.ejs
---
<section class="content max-w-3xl">
<%= type %>
<h1><%= title %></h1>
<p><i><%= datum %></i> <i><%= autorin %></i></p>
<i><%= einleitung %></i>
<%- content %>
</section>
