<!DOCTYPE html>

<% if (locals.lang == "en") { %>
<html lang="en" class="no-js">
<% } else { %>
<html lang="de" class="no-js">
<% } %>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= (!!locals.metatitle) ? metatitle : title %></title>
	<link rel="canonical" href="<%= `${site.url}${page.url}` %>" />
	<%- include('../partials/_hreflang.njk') %>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= (!!locals.metatitle) ? metatitle : title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
	<meta property="og:url" content="<%= `${site.url}${page.url}` %>" />
	<meta property="og:image" content="<%= `${site.url}/assets/images/social/` %><%= (!!locals.socialimage) ? socialimage : site.socialimage %>" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@bitsundbaeume" />
	<meta name="twitter:image" content="<%= `${site.url}/assets/images/social/` %><%= (!!locals.socialimage) ? socialimage : site.socialimage %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/bits-und-baeume-logo.svg` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } else { %>
	<meta property="og:type" content="website" />
	<% } %>
	<%- include('webpack.ejs') %>
	<%- include('../partials/favicon.njk') %>
	<script>document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>

  </head>

  <body class="antialiased w-full bg-grey">

    <header id="header">
	  <div class="container mx-auto xl:max-w-screen-xl flex justify-between items-center">
        <div class="hover:scale-105 hover:transform-gpu duration-50">
			<a class="hover:no-underline hover:bg-opacity-0" href="<% site.url %>/">
				<img class="inline-block" src="<% site.url %>/assets/images/bits-und-baeume-logo.svg" alt="Logo Bits und Bäume">
			</a>
		</div>
        <div class="hidden lg:block">
			<nav class="nav-menu nav-menu-desktop">
				<ul class="header-menu">
					<%- include('../partials/mainmenu.njk') %>
				</ul>
			</nav>
        </div>
		<%- include('../partials/language-switcher.njk') %>
        <div class="block lg:hidden pr-2">
        	<a title="menu" href="/menu/">
				<img class="menu__button" src="<% site.url %>/assets/images/menu-button.svg" alt="menu button" role="presentation">
			</a>
        </div>
      </div>
	</header>

    <main>
		<%- content %>
    </main>

    <footer>
		<div class="footer__pixel">
			<img src="/assets/images/pixel-footer-left.svg"
				widht="60"
				height="50"
			>
		</div>
		<div class="footer__pixel right">
			<img src="/assets/images/pixel-footer-right.svg"
				widht="90"
				height="40"
			>
		</div>
		<div class="container mx-auto md:max-w-screen-xl grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

			<div class="py-4">
				<a class="hover:no-underline hover:bg-opacity-0" href="<% site.url %>/">
					<img class="inline-block hover:scale-105 hover:transform-gpu duration-50" src="<% site.url %>/assets/images/bits-und-baeume-logo.svg" alt="Logo Bits und Bäume">
				</a>
			</div>

			<div class="py-4 md:py-0">
				<nav class="nav-menu text-l w-full">
					<ul class="pb-2 mb-0 flex flex-col content-left mx-8">
					<li><a href="<% site.url %>/konferenz-2022/">BB Konferenz 2022</a></li>
					<li><a href="https://twitter.com/bitsundbaeume">#bitsundbaeume22</a></li>
					</ul>
				</nav>
				<div class="flex flex-row justify-between py-4 w-36 mx-8">
					<div>
					<p>Social:</p>
					</div>
					<div>
					<a href="<% site.url %>/error_placeholder/">
						<img class="w-8 hover:scale-105 hover:transform-gpu duration-50" src="<% site.url %>/assets/images/mastodon-logo.svg" alt="Mastodon-Logo">
					</a>
					</div>
					<div>
					<a href="https://twitter.com/bitsundbaeume">
						<img class="w-8 hover:scale-105 hover:transform-gpu duration-50" src="<% site.url %>/assets/images/twitter-logo.svg" alt="Twitter-Logo">
					</a>
					</div>
				</div>
			</div>

			<div class="py-4 md:py-0">
				<nav class="nav-menu text-l w-full">
					<ul class="pb-2 flex flex-col content-left mx-8">
					<li><a href="<% site.url %>/impressum/">Impressum</a></li>
					<li><a href="<% site.url %>/datenschutz/">Datenschutz</a></li>
					<li><a href="<% site.url %>/error_placeholder/">Klimafreundliche Website</a></li>
					</ul>
				</nav>
			</div>

			<div class="py-8 md:pt-4 px-8">
				<p class="text-lg">Diese Website ist klimafreundlich</p>
				<a href="https://cleaner-web.com/" target="_blank" rel="noopener noreferrer">
					<img class="h-24 hover:scale-105 hover:transform-gpu duration-50" src="<% site.url %>/assets/images/cleaner-web-siegel.svg" alt="Siegel der Initiative °Cleaner Web">
				</a>
			</div>

		</div>
    </footer>
	<div class="back-to-top">
		<a href="#header">
			<img class="hover:scale-125 hover:transform-gpu duration-50" src="<% site.url %>/assets/images/up-arrow.svg" alt="back to top">
		</a>
	</div>

  </body>
</html>
